.btn {
  display: block;
  width: 250px;
  padding: 20px;
  font: inherit;
  font-weight: 800;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $btn--txt;
  background-color: $btn--bg;
  border: none;
  border-radius: 32px;
  outline: none;
  cursor: pointer;

  &--modal {
    width: 220px;
    padding: 13px;
    font-size: 14px;
    border-radius: 23px;
  }

  &:hover,
  &:focus {
    background-color: $btn--bg-hover;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    background-color: $btn--bg-disabled;
  }
}

@media (max-width: $mobile-width) {
  .btn--transform {
    width: 185px;
    padding: 13px;
    font-size: 14px;
    border-radius: 23px;

    &--modal {
      width: 220px;
    }
  }
}
