.modal-feedback {
  h2 {
    @include modal-header;
    margin-bottom: 40px;
  }

  label {
    display: block;
    margin-right: 16px;
    margin-bottom: 12px;
    color: $modal-feedback--label-txt;
  }
}

.modal-feedback__input {
  position: relative;
  margin-right: 16px;
  margin-bottom: 32px;
  padding: 1px;
  background-color: $modal-feedback--input-border;
  border-radius: 3px;

  div {
    display: none;
    position: absolute;
    left: 25px;
    bottom: 0;
    transform: translateY(100%);
    font-size: 12px;
    color: $modal-feedback--clarification;
  }

  &--success {
    background: $modal-feedback--input-border-success;
  }

  &--error {
    background: $modal-feedback--input-border-error;

    div {
      display: block;
    }
  }

  span {
    display: none;
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(-50%);
    padding: 0 5px;
    font-size: 12px;
    color: $modal-feedback--input-title;
    background-color: $modal-feedback--input-bg;
  }

  &--success span,
  &--error span {
    display: block;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 16px 24px;
    font: inherit;
    font-size: 14px;
    color: inherit;
    background-color: $modal-feedback--input-bg;
    border: none;
    border-radius: 2px;
    outline: none;
  }

  textarea {
    height: 120px;
    resize: none;
  }
}

.modal-feedback__submit {
  margin: 0 auto 24px;
}

.modal-feedback__agreement {
  position: relative;
  margin: 0;
  padding-left: 25px;
  font-size: 14px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: $modal-feedback--checkbox-bg;
    border-radius: 4px;
  }

  input[type="checkbox"]:checked + &::before {
    background-image: url("../img/icon-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover::before,
  input[type="checkbox"]:focus + &::before {
    background-color: $modal-feedback--checkbox-bg-hover;
  }

  a {
    color: $modal-feedback--link;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $modal-feedback--link-hover;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (max-width: $mobile-width) {
  .modal-feedback {
    label {
      margin-right: 8px;
    }
  }

  .modal-feedback__input {
    margin-right: 8px;
  }
}
