.modal {
  display: none;

  &--opened {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
  }
}

.modal__content {
  position: relative;
  width: 480px;
  max-height: calc(100vh - 64px);
  margin: auto;
  padding: 32px;
  background: $modal--bg;
  border-radius: 3px;
  overflow-y: auto;
}

.modal__close-btn {
  content: "";
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    width: 20px;
    height: 2px;
    background-color: $modal--close-btn;
  }

  &::before {
    transform: translate(50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(50%, -50%) rotate(-45deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $modal--close-btn-hover;
  }

  &:active::before,
  &:active::after {
    opacity: 0.6;
  }
}
