.modal-location {
  h2 {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
  }

  p {
    margin: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    color: $modal-location--txt;
  }

  ul {
    @include list-drop;
    margin-bottom: 10px;
  }
}

.modal-autodetect {
  display: block;
  width: max-content;
  margin: 0 -10px 30px;
  padding: 10px;
  padding-bottom: 9px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
  color: $modal-location--autodetect-link;

  svg {
    display: inline-block;
    vertical-align: middle;
    fill: $modal-location--autodetect-icon;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid $modal-location--autodetect-decor;
  }

  &:hover,
  &:active {
    color: $modal-location--link-hover;

    span {
      border-bottom-style: dashed;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.modal-location__link {
  display: block;
  width: max-content;
  margin: 0 -10px;
  padding: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $modal-location--link;

  span {
    display: inline-block;
    padding: 2px 0;
    vertical-align: middle;
  }

  &--current {
    padding-bottom: 6px;
    color: $modal-location--link-current;

    span {
      border-bottom: 2px solid $modal-location--link-decor;
    }
  }

  &:hover,
  &:focus {
    padding-bottom: 8px;
    color: $modal-location--link-hover;

    span {
      border-bottom: none;
    }
  }

  &:active {
    padding-bottom: 6px;

    span {
      border-bottom: 2px dashed $modal-location--link-decor;
    }
  }
}
