.quest-card {
  position: relative;
  display: flex;
  width: 344px;
  min-height: 232px;

  a {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    transition: transform 0.2s ease;
    outline: none;

    &:hover {
      transform: rotate(-5deg);
    }

    &:focus {
      transform: scale(1.05);
    }

    &:active {
      transform: rotate(365deg) scale(0);
    }
  }

  h3 {
    margin: auto 0 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: $quest-card--header;
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: $quest-card--img-bg;
  }

  address {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 13px;
    color: $quest-card--address;

    svg {
      display: block;
      margin-right: 8px;
      width: 11px;
      height: 14px;
      fill: $quest-card--address-icon;
    }
  }

  ul {
    @include list-drop;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    align-items: center;
    padding: 0 11px;
    font-size: 13px;
    color: $quest-card--options;
    border-right: 1px solid $quest-card--options-decor;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
      border-right: none;
    }

    svg {
      display: block;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      fill: $quest-card--options-icon;
    }

    &:first-of-type svg {
      width: 11px;
      height: 14px;
      fill: none;
      stroke: $quest-card--options-icon;
    }
  }
}

@media (max-width: $tablet-width) {
  .quest-card {
    width: 100%;
  }
}
