.quests {
  margin: 120px 135px;

  h1 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    color: $quests--title;
  }

  p {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 64px;
    line-height: 1.1;
  }
}

.quests__filter {
  overflow: hidden;
  margin: -10px;
  margin-bottom: 10px;
  padding: 10px;

  ul {
    @include list-drop;
    display: flex;
    flex-wrap: wrap;
    margin-left: -31px;
    margin-right: -50px;
  }

  li {
    flex-shrink: 0;
    margin-bottom: 20px;
    padding: 0 40px;
    border-left: 1px solid $quests--filter-decor;
  }
}

.quests__filter-link {
  display: flex;
  align-items: center;
  margin: -10px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: $quests--filter-link;
  outline: none;

  svg {
    display: block;
    margin-right: 12px;
    height: 30px;
    width: 30px;
    fill: $quests--filter-link-icon;
  }

  span {
    display: block;
    padding: 3px 0;
  }

  &--current {
    span {
      padding-bottom: 1px;
      border-bottom: 2px solid $quests--filter-link-decor;
    }
  }

  &--all {
    svg {
      width: 26px;
    }
  }

  &--adventures {
    svg {
      width: 36px;
    }
  }

  &--horror {
    svg {
      width: 30px;
    }
  }

  &--mystic {
    svg {
      width: 30px;
    }
  }

  &--detective {
    svg {
      width: 40px;
    }
  }

  &--scifi {
    svg {
      width: 28px;
    }
  }

  &:hover,
  &:focus {
    color: $quests--filter-link-hover;

    svg {
      fill: $quests--filter-link-icon-hover;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.quests__list {
  @include list-drop;
  display: grid;
  grid-template-columns: repeat(auto-fill, 344px);
  gap: 32px 24px;
}

@media (max-width: $tablet-width) {
  .quests {
    margin: 120px 95px;

    h1 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 30px;
      font-size: 36px;
    }
  }

  .quests__filter {
    overflow-x: auto;

    ul {
      width: max-content;
    }
  }

  .quests__filter-link {
    svg {
      height: 24px;
      width: 24px;
      fill: $quests--filter-link-icon;
    }

    span {
      display: block;
      padding: 3px 0;
    }

    &--current {
      span {
        padding-bottom: 1px;
        border-bottom: 2px solid $quests--filter-link-decor;
      }
    }

    &--all {
      svg {
        width: 21px;
      }
    }

    &--adventures {
      svg {
        width: 29px;
      }
    }

    &--horror {
      svg {
        width: 24px;
      }
    }

    &--mystic {
      svg {
        width: 24px;
      }
    }

    &--detective {
      svg {
        width: 32px;
      }
    }

    &--scifi {
      svg {
        width: 23px;
      }
    }

    &:hover,
    &:focus {
      color: $quests--filter-link-hover;

      svg {
        fill: $quests--filter-link-icon-hover;
      }
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (max-width: $tablet-width) {
  .quests__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $mobile-width) {
  .quests {
    margin: 90px 16px;
  }

  .quests__list {
    grid-template-columns: repeat(1, minmax(328px, 344px));
    justify-content: center;
  }
}
