.site-nav__link {
  display: block;
  width: max-content;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $site-nav--link;
  outline: none;

  span {
    display: block;
  }

  &:hover,
  &:focus {
    padding-bottom: 9px;

    span {
      border-bottom: 1px dashed $site-nav--link;
    }
  }

  &:active {
    opacity: 0.6;
  }

  &--quests {
    color: $site-nav--link--quests;
  }

  &--location {
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: $site-nav--link--location;

    svg {
      margin-right: 8px;
      fill: $site-nav--link--location;
    }

    &:hover,
    &:focus {
      span {
        border-bottom: 1px dashed $site-nav--link--location;
      }
    }
  }

  &--question {
    margin-right: -10px;
    padding-bottom: 7px;
    font-weight: 500;
    font-size: 12px;
    text-transform: none;
    letter-spacing: normal;
    color: $site-nav--link--question;

    span {
      padding-bottom: 2px;
      border-bottom: 1px dashed $site-nav--link--question;
    }

    &:hover,
    &:focus {
      color: $site-nav--link--question-hover;

      span {
        border-bottom: 1px dashed $site-nav--link--question-hover;
      }
    }
  }
}

.site-nav__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px 0;

  &--no-fixed {
    position: absolute;
  }

  &--quests {
    background-color: $page--bg;
  }
}

.site-nav__inner {
  align-self: flex-start;
}

.site-nav__menu-btn {
  display: none;
}

.site-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.site-nav__main-nav {
  margin-left: 90px;

  ul {
    @include list-drop;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 600px;
  }

  li {
    margin: 0 13px;
  }
}

.site-nav__location {
  display: flex;
  align-items: flex-start;
  margin-left: 80px;
  margin-right: -5px;
}

.site-nav__bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 32px;

  ul {
    @include list-drop;
    display: flex;
  }

  li:not(:first-of-type) {
    margin-left: 5px;
  }
}

.site-nav__social {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/sprite-social-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 76px 76px;
  border: none;
  outline: none;

  &--instagram {
    background-position: -4px -4px;

    &:hover,
    &:focus {
      background-position: -42px -4px;
    }
  }

  &--vk {
    background-position: -4px -42px;

    &:hover,
    &:focus {
      background-position: -42px -42px;
    }
  }
}

@media (min-resolution: 2dppx) {
  .site-nav__social {
    background-image: url("../img/sprite-social-desktop@2x.png");
  }
}

@media (max-width: $tablet-width) {
  .site-nav__main-nav {
    margin-left: 40px;

    li {
      margin: 0 3px;
    }
  }

  .site-nav__link {
    font-size: 16px;
  }

  .site-nav__top {
    padding: 20px 16px;

    li:not(:first-of-type) {
      margin-left: 8px;
    }
  }

  .site-nav__bottom {
    margin: 30px 16px;

    li:not(:first-of-type) {
      margin-left: 12px;
    }
  }

  .site-nav__social {
    display: block;
    width: 44px;
    height: 44px;
    margin-left: -4px;
    background-image: url("../img/sprite-social-tablet@1x.png");
    background-size: 92px 92px;

    &--instagram {
      background-position: -4px -4px;

      &:hover,
      &:focus {
        background-position: -50px -4px;
      }
    }

    &--vk {
      background-position: -4px -50px;

      &:hover,
      &:focus {
        background-position: -50px -50px;
      }
    }
  }
}

@media (max-width: $tablet-width) and (min-resolution: 2dppx) {
  .site-nav__social {
    background-image: url("../img/sprite-social-tablet@2x.png");
  }
}

@media (max-width: $mobile-width) {
  .site-nav {
    &--opened {
      position: fixed;
      z-index: 11;
      width: 100%;
      height: 100vh;
      background: $site-nav--gradient;
      animation: 0.4s open-menu;

      .site-nav__top {
        display: block;

        &--quests {
          background-color: transparent;
        }
      }

      .site-nav__wrapper {
        display: flex;
      }

      .site-nav__bottom {
        display: flex;
      }
    }
  }

  .site-nav__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

    .site-nav__top--quests & {
      margin-bottom: 0;
    }
  }

  .site-nav__menu-btn {
    position: relative;
    display: block;
    margin-right: -8px;
    padding: 8px;
    padding-right: 36px;
    font: inherit;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $site-nav--btn-txt;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $site-nav--btn-burger;
      transition: top 0.2s, width 0.2s, right 0.2s, transform 0.2s;
    }

    &::before {
      top: 11px;
      right: 8px;
      width: 20px;
      height: 2px;
      box-shadow: 0 12px $site-nav--btn-burger;
    }

    &::after {
      top: 17px;
      right: 12px;
      width: 16px;
      height: 2px;
    }

    &:hover,
    &:focus {
      color: $site-nav--btn-txt-hover;

      &::before,
      &::after {
        background-color: $site-nav--btn-burger-hover;
      }

      &::before {
        box-shadow: 0 12px $site-nav--btn-burger-hover;
      }
    }

    &:active {
      opacity: 0.6;
    }

    .site-nav--opened & {
      &::before {
        top: 17px;
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        width: 20px;
        right: 8px;
        transform: rotate(-45deg);
      }
    }
  }

  .site-nav__wrapper {
    display: none;
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .site-nav__main-nav {
    margin: 0;

    ul {
      display: block;
    }

    li {
      margin-bottom: 15px;
    }

    a {
      margin: 0 auto;
    }
  }

  .site-nav__location {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid $site-nav--decor;

    a {
      margin: 0 auto;
      font-size: 14px;
    }

    .site-nav__link--location {
      font-size: 12px;
    }
  }

  .site-nav__link {
    &--location {
      margin-right: 0;
    }
  }

  .site-nav__bottom {
    position: absolute;
    display: none;
  }
}

@keyframes open-menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
