.site-nav__link {
  display: block;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $site-nav--link;
  font-feature-settings: "pnum" on, "lnum" on;
  outline: none;

  span {
    display: block;
  }

  &:hover,
  &:focus {
    padding-bottom: 9px;

    span {
      border-bottom: 1px dashed $site-nav--link;
    }
  }

  &:active {
    opacity: 0.6;
  }

  &--quests {
    color: $site-nav--link--quests;
  }

  &--location {
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: $site-nav--link--location;

    svg {
      margin-right: 8px;
      fill: $site-nav--link--location;
    }

    &:hover {
      span {
        border-bottom: 1px dashed $site-nav--link--location;
      }
    }

    &:hover,
    &:focus {
      span {
        border-bottom: 1px dashed $site-nav--link--location;
      }
    }
  }

  &--question {
    font-weight: 500;
    font-size: 12px;
    text-transform: none;
    letter-spacing: normal;
    color: $site-nav--link--question;
  }
}

.site-nav__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 32px;
}

.site-nav__inner {
  align-self: flex-start;
}

.site-nav__menu-btn {
  display: none;
}

.site-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.site-nav__main-nav {
  margin-left: 90px;

  ul {
    @include list-drop;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  li {
    margin: 0 13px;
  }
}

.site-location {
  display: flex;
  margin-left: 90px;
}

.site-nav__bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 32px;

  ul {
    @include list-drop;
    display: flex;
  }

  li:not(:first-of-type) {
    margin-left: 5px;
  }
}

.site-nav__social {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;

  &--instagram {
    background-image: url("../img/social-instagram.svg");

    &:hover,
    &:focus {
      background-image: url("../img/social-instagram-hover.svg");
    }
  }

  &--vk {
    background-image: url("../img/social-vk.svg");

    &:hover,
    &:focus {
      background-image: url("../img/social-vk-hover.svg");
    }
  }
}

@media (max-width: $tablet-width) {
  .site-nav__main-nav {
    margin-left: 60px;

    li {
      margin: 0 8px;
    }
  }

  .site-nav__top,
  .site-nav__bottom {
    margin: 20px 16px;
  }
}

@media (max-width: $mobile-width) {
  .site-nav__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;

    outline: 1px dashed yellow;
  }

  .site-nav__menu-btn {
    position: relative;
    display: block;
    margin-right: -8px;
    padding: 8px;
    padding-right: 36px;
    font: inherit;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $site-nav--btn-txt;
    background-color: transparent;
    border: none;
    outline: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $site-nav--btn-burger;
    }

    &::before {
      top: 11px;
      right: 8px;
      width: 20px;
      height: 2px;
      box-shadow: 0 12px $site-nav--btn-burger;
    }

    &::after {
      top: 17px;
      right: 12px;
      width: 16px;
      height: 2px;
    }

    &:hover {
      color: $site-nav--btn-txt-hover;

      &::before,
      &::after {
        background-color: $site-nav--btn-burger-hover;
      }

      &::before {
        box-shadow: 0 12px $site-nav--btn-burger-hover;
      }

    }
  }

  .site-nav__wrapper {
    display: none;
  }

  .site-nav__bottom {
    display: none;
  }
}
