// Colors

$black: #000000;

$black-night:#191818;
$black-almost:#1c1c1c;

$white-dirty: #e6e6e6;
$white-almost: #f0f0f0;

$white: #ffffff;

$site-dim: #d26d13;
$site-darker: #f2890f;
$site: #f28a0f;
$site-lighter: #f2901d;
$site-bright: #f39425;

$accent: #13ba19;
$accent-light: #2cdb52;

// Gradients

$gradient--mobile-menu: linear-gradient(170.74deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);
$gradient--modal: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);

// Fonts

$raleway: "Raleway", "Verdana", sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;

// Blocks

$page--txt: $white;
$page--txt-alt: $white-dirty;
$page--bg: $black-almost;


$btn--txt: $white;
$btn--bg: $site;
$btn--bg-hover: $site-bright;


$modal-feedback--label-txt: $white-dirty;
$modal-feedback--input-bg: $black-night;
$modal-feedback--input-border: rgba($white, 0.4);
$modal-feedback--input-border-success: linear-gradient(to bottom, $accent-light 0%, $accent 100%);
$modal-feedback--input-border-error: linear-gradient(to bottom, $site-lighter 0%, $site-dim 100%);
$modal-feedback--input-title: rgba($white-dirty, 0.64);
$modal-feedback--checkbox-bg: rgba($site-darker, 0.4);
$modal-feedback--checkbox-bg-hover: $site-darker;

$modal-location--txt: $white-dirty;
$modal-location--link: rgba($white, 0.32);
$modal-location--link-hover: $white;
$modal-location--link-current: $white;
$modal-location--link-decor: $site-darker;
$modal-location--autodetect-link: $white-dirty;
$modal-location--autodetect-icon: $site-darker;
$modal-location--autodetect-decor: rgba($white, 0.5);

$modal--bg: $gradient--modal;
$modal--close-btn: rgba($white, 0.5);
$modal--close-btn-hover: $site-darker;

$logo--color: $white;
$logo--color-hover: $site;

$site-nav--link: $white-almost;
$site-nav--link--quests: $white;
$site-nav--link--location: $site-darker;
$site-nav--link--question: $white-dirty;
$site-nav--link--question-hover: $site-darker;
$site-nav--btn-txt: $white-almost;
$site-nav--btn-txt-hover: $site-darker;
$site-nav--btn-burger: $white;
$site-nav--btn-burger-hover: $site-bright;
$site-nav--gradient: $gradient--mobile-menu;
$site-nav--decor: rgba($white, 0.16);
