// Colors

$black: #000000;

$black-almost:#1c1c1c;

$white-dirty: #e6e6e6;
$white-almost: #f0f0f0;

$white: #ffffff;

$site-dim: #d26d13;
$site-darker: #f2890f;
$site: #f28a0f;
$site-lighter: #f2901d;
$site-bright: #f39425;

$accent: #13ba19;
$accent-light: #2cdb52;

// Gradients

$gradient--mobile-menu: linear-gradient(170.74deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);

// Fonts

$raleway: "Raleway", "Verdana", sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;

// Blocks

$page--txt: $white;
$page--txt-alt: $white-dirty;
$page--bg: $black-almost;


$btn--txt: $white;
$btn--bg: $site;
$btn--bg-hover: $site-bright;


$logo--color: white;
$logo--color-hover: $site;

$site-nav--link: $white-almost;
$site-nav--link--quests: $white;
$site-nav--link--location: $site-darker;
$site-nav--link--question: $white-dirty;
$site-nav--btn-txt: $white-almost;
$site-nav--btn-txt-hover: $site-darker;
$site-nav--btn-burger: $white;
$site-nav--btn-burger-hover: $site-bright;
$site-nav--gradient: $gradient--mobile-menu;
$site-nav--decor: rgba($white, 0.16);
